@model IEnumerable<Provider>
@{
    ViewData["Title"] = "Provider Database";
}

<h2>Provider List</h2>
<h3>Click on an employee number to make an appointment.</h3>

<table class="table table-hover">

    <tr>
        <th>Employee ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Specialties</th>
        <th>Age</th>
        <th>Gender</th>
        @*<th>Availability?</th>*@
    </tr>

    @foreach(var p in Model) {
    <tr>
      
        <td><a href=/Provider/ViewProvider/@p.EmployeeID>@p.EmployeeID</a></td>
        <td>@p.FirstName</td>
        <td>@p.LastName</td>
        @switch(p.Specialties) {
                case SpecialtyCategories.Drug: <td>Substance-Use Disorders</td>; break;
                case SpecialtyCategories.Pers: <td>Personality Disorders</td>; break;
                case SpecialtyCategories.Child: <td>Child and Family</td>; break;
                case SpecialtyCategories.Trauma: <td>Trauma and PTSD</td>; break;
                case SpecialtyCategories.Dep: <td>Depression and Anxiety</td>; break;
                case SpecialtyCategories.ADHD: <td>ADHD, ADD, and Related</td>; break;
                case SpecialtyCategories.Other: <td>Other</td>; break;
                default: <td>None</td>; break;
            }
        <td>@p.Age</td>
        <td>@p.Gender</td>
    </tr>
    }

</table>



