@model IEnumerable<Provider>
@{
    ViewData["Title"] = "Provider Database";
}

<h2>Provider List</h2>
<h3>Click on an employee number to make an appointment.</h3>

<table class="table table-hover">

    <tr>
        <th>Employee ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Specialties</th>
        <th>Age</th>
        <th>Gender</th>
        @*<th>Availability?</th>*@
    </tr>

    @foreach(var p in Model) {
    <tr>
      
        <td><a href=/Provider/ViewProvider/@p.EmployeeID>@p.EmployeeID</a></td>
        <td>@p.FirstName</td>
        <td>@p.LastName</td>
        <td>@p.Specialties</td>
@*        <td>@foreach(var s in p.Specialties) { @s }</td>*@
        <td>@p.Age</td>
        <td>@p.Gender</td>
    </tr>
    }

</table>



