@model Provider

<h3>To update provider @Model.FirstName @Model.LastName, please enter the following information.</h3>

@using(Html.BeginForm("UpdateProviderToDatabase", "Provider", FormMethod.Post, new { enctype = "multipart/form-data" })) {
    <input asp-for="EmployeeID" type="hidden" value="@Model.EmployeeID" />
   
    <div class="form-group row">
        <div class="form-group col">
            <label asp-for="FirstName" class="control-label">First Name</label>
            <input type="text" name="FirstName" class="form-control" value="@Model.FirstName" required />
        </div>    
        <div class="form-group col">
            <label asp-for="LastName" class="control-label">Last Name</label>
            <input type="text" name="LastName" class="form-control" value="@Model.LastName" required />
        </div>
    </div>

    <div class="form-group row">
        <div class="form-group col">
            <label asp-for="Age" class="control-label">Age</label>
            <input type="number" step="1" name="Age" class="form-control" value="@Model.Age" />         
        </div>
        <div class="form-group col">
            <label asp-for="Gender" class="control-label">Gender:</label>
            <select asp-for="Gender" asp-items="Html.GetEnumSelectList<GenderCategories>()" class="control-label" value="@Model.Gender" name="Gender">Gender:</select>

        </div>
    </div>

    <div class="form-group row">
        <div class="form-group col">
            <label asp-for="Specialties" class="control-label">Select Specialty for this Provider:</label>
            <select asp-for="Specialties" asp-items="Html.GetEnumSelectList<SpecialtyCategories>()" class="control-label" name="Specialties"></select>
         </div>
    </div>
   
    <br />

    <div class="form-group row">
        <div class="form-group col">
            <label for="image_upload" class="form-label">Change Provider Photo:</label>
            <input class="form-control" id="image_upload" type="file" name="files" multiple>
        </div>
        <div class="form-group col">
             <img src=@Model.PhotoPath asp-append-version="true" id="provider_photo"
             class="provider_photo" alt="Photo of Provider"/>
        </div>
    </div>

    <div class="form row justify-content-center">
        <input type="submit" value="Update Provider" id="update_prov_btn" class="btn" />
    </div>
}


<script>
    const fileTypes = [
        "image/apng",
        "image/bmp",
        "image/gif",
        "image/jpeg",
        "image/pjpeg",
        "image/png",
        "image/svg+xml",
        "image/tiff",
        "image/webp",
        "image/x-icon"
    ];
    function validFileType(file) { return fileTypes.includes(file.type); }

    const image_upload = document.getElementById("image_upload");

    image_upload.addEventListener("change", e => {
        const file = image_upload.files[0];
        if (!validFileType(file)) { window.alert("Invalid file type."); }
        else {
            document.getElementById('provider_photo').src = URL.createObjectURL(file);
        }
    });

</script>

@*<script>
   /*Using FETCH API:*/
  
   const fileTypes = [
        "image/apng",
        "image/bmp",
        "image/gif",
        "image/jpeg",
        "image/pjpeg",
        "image/png",
        "image/svg+xml",
        "image/tiff",
        "image/webp",
        "image/x-icon"
    ];
   function validFileType(file) { return fileTypes.includes(file.type); }
  
   const image_upload=document.getElementById("image_upload");

   image_upload.addEventListener("change", e => {
        const file = image_upload.files[0];
        if (!validFileType(file)) { window.alert("Invalid file type."); }
        else {
            document.getElementById('provider_photo').src = URL.createObjectURL(file);
        }
    });

   image_upload.addEventListener("submit", e => {
       e.preventDefault();
       
       const endpoint="";
       const formData=new FormData(); //holds files

       console.log(image_upload.files);

       formData.append("image_upload",image_upload.files[0]);

       fetch(endpoint,{
           method: "post",
           body: formData
       }).catch(console.error);
   });
   
</script>*@